<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-feature android:name="android.hardware.camera" android:required="false" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:name="io.github.xamdr.noties.App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true">

		<activity
			android:name="io.github.xamdr.noties.ui.gallery.GalleryActivity"
			android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale"
			android:exported="false"
			android:theme="@style/Theme.Noties.Gallery"
			android:windowSoftInputMode="stateAlwaysHidden"/>

		<activity
			android:name="io.github.xamdr.noties.ui.MainActivity"
			android:exported="true"
			android:theme="@style/Theme.SplashScreen.Noties"
			android:windowSoftInputMode="adjustResize">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="content"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".ui.reminders.AlarmReceiver"
			android:enabled="true"
			android:exported="false"/>

		<receiver
			android:name=".ui.reminders.BootCompletedReceiver"
			android:enabled="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="io.github.xamdr.noties"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>
</manifest>